html {
    padding: 30px;
    background-color: #222325;
    color: #eaeaea;
}

.App {
  text-align: center;
}

input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',;
      background-color: #222325;
      color: #eaeaea;
      border-radius: 5px;
      padding: 4px;
      border-width: 1px;
}

form {
  min-width: 293.4px;
  margin-top: 20px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  width: 30%;
  display: block;
  margin: auto;
  
}

#f-edit {
  background-color: #222325;
  color: #eaeaea;
}

#edit {
  background-color: #eaeaea;

  width: 10%;

}
button:hover {
  background-color: rgb(255, 255, 255);
  color: #282c34;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

#holder {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
#left {
  width: 80%;
}

#right {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 20px;
  border-radius: 7px;

}

fieldset {
  display: grid;
  grid-template: .5fr/ 1fr 2fr ;
  gap: 15px;
  padding: 10px;
  border: none;
  background-color: #282c34;
}

legend {
  margin: 10px -20px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.focus {
  grid-column: 1 / span 2;
}

a {
  margin-bottom: 10px;
  color:white;

}