html {
    padding: 30px;
    background-color: #222325;
    color: #eaeaea;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  width: 30%;
  display: block;
  margin: auto;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: #282c34;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

#holder {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
#left {
  width: 50%;
}

#right {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 3px;

}



fieldset {
  display: grid;
  grid-template: .5fr/ 1fr 2fr ;
  gap: 5px;
  padding: 10px;
  border: none;

}

legend {
  margin: 10px -20px;
  font-weight: bold;
}